<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695001831654-7mqf5rc90oauc16klv7jgcee4aodpdk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695001831654-7mqf5rc90oauc16klv7jgcee4aodpdk1</string>
	<key>API_KEY</key>
	<string>AIzaSyBS0oTs3z8fKOD51dSuhLf-7oxVoLaLIKg</string>
	<key>GCM_SENDER_ID</key>
	<string>695001831654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netline.kartokuyucu</string>
	<key>PROJECT_ID</key>
	<string>cardreader-fdd45</string>
	<key>STORAGE_BUCKET</key>
	<string>cardreader-fdd45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695001831654:ios:568e54894822204e64c327</string>
</dict>
</plist>